@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Ubuntu&display=swap');
*{
  font-family: 'Inter';
}
body{
  background-color: rgba(0, 0, 255, 0.199);
  position: relative;
}

#container1, .pokemon{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3%;

}


.form-holder{
  display: flex;
  justify-content: space-around;
}
#searchbox{
  display: flex;
  flex-direction: column;
  max-width: 200px;   
}
li{
  list-style: none;

}
img{
  padding-left: 20px;
}

.clock-div{
  display: flex;
  justify-content: space-around;
  max-width: 100px;
}

#sideContainer{
  width: 300px;
  height: 500px;
  background-color: red;
  display: none;
  position: absolute;
  top: .5%;
  left: -.7%;
  color: white;
  
}

button{
  padding: 0.5rem 1rem;
  background-color: #A020F0;
  color: white;
  border-radius: 0.2rem;
  border: none;
}

button:hover{
  background-color:rgba(0, 0, 255, 0.199);
}
.search-btn{
  background-color: #51087e;
}